#listTitle {
    border-width: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
}

.col-2 {
    cursor: pointer;
}

.checked {    
    text-decoration: line-through;
    color: grey;
}