body {
    font-size: 24px;
}

#listTitle {
    border-width: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
}

ul {
    list-style-type: none;
}

.col-2 {
    cursor: pointer;
}

.checked {    
    text-decoration: line-through;
    color: grey;
}

#removal {
    color: red;    
}

#check {
    color: green;    
}

#todoText { 
    background-color:rgba(0, 0, 0, 0);   
    border: none;
    outline:none;
    text-decoration: inherit;
    color: inherit; 
}

#inherit {
    text-decoration: inherit;
    color: inherit;
}