
body {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1538947151057-dfe933d688d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    color: black;

}

#listTitle {
    border-width: 0px;
    font-weight: bold;
    text-align: center;
    font-size: 1.3em;
    text-shadow: -1px -1px 0 #0f0f0f, 1px -1px 0 #0f0f0f, -1px 1px 0 #0f0f0f, 1px 1px 0 #0f0f0f;
}
}

ul {
    list-style-type: none;
}

.col-2 {
    cursor: pointer;
}

.checked {    
    text-decoration: line-through;
    color: grey;
}

#removal {
    color: red;    
}

#check {
    color: green;    
}
.header {
    padding: 50px;

    
}
.center {
    display: flex;
    align-items: center;
}
h1 {

    font-weight: bold;
}
#date {
    display: flex;
    justify-content: end;
    margin-top: 20px;;
}
.content {
    margin-top: 20px;
}

.transparent {
    background-color: rgba(255, 0, 0, 0);
}

