body {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("https://images.unsplash.com/photo-1538947151057-dfe933d688d1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    background-image: url("/img/rainbow.jpg");
    /* background-image: url("/img/rainbow1.jpg"); */
    background-size: auto;
    background-repeat: no-repeat;
    color: white;

}

.row {
    color: rgba(35, 34, 63, 0.829);    
}

/* Add List Title */
#listTitle {
    padding-bottom: 10px;
    border-width: 0px;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2em;
    text-shadow: -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    width: 100%;
}

.hr {
    width: 15em;
    height: 2px;
    background-color: white;
    opacity: 0.4;
    border: none;
    margin: auto;
  }

#addItemInput {
    border: none;
    outline: none;
    color: white;    
    text-align: center;
    border-bottom: 1px solid lightgrey;
    margin-bottom: 2%;
    background-color:rgba(0, 0, 0, 0); 
}

#addItemButton {
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 8px;
    padding-left: 12px;
    border: none;
    outline: none;
    border-radius: 10px;
}

#addItemButton:hover {
    background-color: lightseagreen;
    color: white;
} 

::placeholder { 
    color: white;
    opacity: 1; 
}
ul {
    list-style-type: none;
}

.col-2 {
    cursor: pointer;
}

.checked {    
    text-decoration: line-through;
    color: grey;
}

#removal {
    color: rgba(21, 57, 122, 0.644);    
}

#check {
    color: rgba(47, 102, 47, 0.5);    
}

.header {
    padding: 50px;
    /* display: flex;
    align-items: center; */
    /* justify-content: space-around; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    
}
.center {
    display: flex;
    align-items: center;
}
h1 {

    font-weight: bold;
}
#date {
  display: flex;
  align-self: flex-end;
    margin-top: 20px;
    font-size: 1rem;
    text-align: right;
}
.content {
    margin-top: 20px;
}

.transparent {
    background-color: rgba(255, 0, 0, 0);
}

#todoText { 
    background-color:rgba(0, 0, 0, 0);   
    border: none;
    outline:none;
    text-decoration: inherit;    
    color: inherit;
    width: 100%;  
}

#inherit {
    text-decoration: inherit;
    color: inherit;
}

